In [3]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import  mean_squared_error

In [4]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [5]:
column_names = {'T1':'Kitchen_T', 'RH_1': 'Kitchen_H', 'T2':  'Livingroom_T', 'RH_2': 'Livingroom_H', 'T3': 'Laundryroom_T',
                'RH_3': 'Laundryroom_H', 'T4': 'Officeroom_T', 'RH_4': 'Officeroom_H', 'T5': 'Bathroom_T', 'RH_5': 'Bathroom_H',
                'T6':'Outsidenorth_T', 'RH_6': 'Outsidenorth_H', 'T7': 'Ironingroom_T', 'RH_7': 'Ironingroom_H', 'T8': 'Teenagerroom_T',
                'RH_8': 'Teenagerroom_H', 'T9': 'Parentroom_T', 'RH_9': 'Parentroom_H', 'T_out': 'Outsidechievres_T', 'Press_mm_hg':'Pressure',
                'RH_out': 'Outsidechievres_H'}

In [6]:
data = data.rename(columns=column_names)

In [7]:
data

,date,Appliances,lights,Kitchen_T,Kitchen_H,Livingroom_T,Livingroom_H,Laundryroom_T,Laundryroom_H,Officeroom_T,...,Parentroom_T,Parentroom_H,Outsidechievres_T,Pressure,Outsidechievres_H,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [8]:
X = data[['Livingroom_T']]
Y = data[['Outsidenorth_T']]

In [9]:
lm = linear_model.LinearRegression()
model = lm.fit(X,Y)

In [10]:
predictions = lm.predict(X)
print(predictions)

[[ 5.37165597]
 [ 5.37165597]
 [ 5.37165597]
 ...
 [19.67562202]
 [19.19818742]
 [18.86506395]]

In [11]:
#R^2 score
lm.score(X, Y)

0.6418990830855493

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data = data.drop(columns=['date', 'lights'])
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
features_data = normalised_data.drop(columns=['Appliances'])
target = normalised_data['Appliances']


#Now, we split our dataset into the training and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target, test_size=0.3, random_state=42)

lm =linear_model.LinearRegression()
#fit the model to the training dataset
lm.fit(x_train, y_train)
#obtain predictions
predicted_values = lm.predict(x_test)


#Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [14]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [15]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [16]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2)

0.09